fastapi>=0.115.0
uvicorn[standard]>=0.32.0
sqlalchemy>=2.0.36
pymysql>=1.1.1
cryptography>=44.0.0
pymongo>=4.10.1
pydantic>=2.10.5
pydantic-settings>=2.7.0
requests>=2.32.3
python-dotenv>=1.0.1
httpx>=0.28.1

PyJWT>=2.10.1

grpcio>=1.69.0
grpcio-tools>=1.69.0
protobuf>=5.29.3

bcrypt>=4.2.1
